In [1]:
import matplotlib.pyplot as plt
import numpy as np
import tensorflow as tf

from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.models import Sequential
import pandas as pd

2024-03-09 02:48:57.190260: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: SSE4.1 SSE4.2 AVX, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [2]:
train_x = pd.read_csv('../data/processed_data/x_train.csv', index_col = 0)
#train_x['image'] = train_x['image'].apply(lambda x: np.fromstring(x,sep='\n'))
train_x.head()

                                                   image
13004  [[218 216 215 ... 134 133 132]\n [217 216 215 ...
27790  [[166 171 167 ... 168 162 156]\n [168 163 171 ...
27820  [[ 67  68  70 ...  83  86  84]\n [ 73  76  75 ...
37696  [[117 117 116 ...  98  98  97]\n [118 117 117 ...
25832  [[179 186 185 ... 189 191 198]\n [178 186 190 ...

In [4]:
import pickle

In [5]:
s = ''
with open('../data/processed_data/x_train.txt', mode = 'rb') as file:
    s = file.read()

In [6]:
train_x = pickle.loads(s)

In [7]:
type(train_x)

pandas.core.series.Series

In [3]:
train_x.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45462 entries, 13004 to 33106
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   image   45462 non-null  object
dtypes: object(1)
memory usage: 710.3+ KB

In [12]:
train_y = pd.read_csv('../data/processed_data/y_train.csv', index_col = 0)
train_y.head()

       label
13004      0
27790      4
27820      0
37696      0
25832      0